/* Custom Styles */

#fh5co-intro {
  padding-bottom: 0;
}

.row-bottom-padded-lg {
  padding-bottom: 2em;
}

#fh5co-services, #fh5co-testimonials, #fh5co-counters, #fh5co-work, #fh5co-contact, #fh5co-about {
  padding: 3em 0;
}

.section-heading {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6,
p,
.btn, a, span {
  text-transform: lowercase !important;
  
}

#fh5co-intro a {
  text-transform: lowercase;
}

.card-p {
    line-height: 1.25;
    text-transform: none !important;
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-inner p {
  height: 350px !important;
}

.carousel-control {
  background-image: none; border-bottom: 0;
}