/* Custom Styles */

#fh5co-intro {
  padding-bottom: 0;
}

.row-bottom-padded-lg {
  padding-bottom: 2em;
}

#fh5co-services, #fh5co-testimonials, #fh5co-counters, #fh5co-work, #fh5co-contact, #fh5co-about {
  padding: 3em 0;
}

.section-heading {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6,
p,
.btn, a, span, input, textarea {
  text-transform: lowercase !important;
}

#fh5co-intro a {
  text-transform: lowercase;
}
